Practical 1
Aim: Write a program to swap rows and columns of a given array in reverse order using numpy

In [ ]:
#import library
import numpy as np

#declare variable
nums=np.array([['C1','C2','C3','C4'],[0,1,3,4],[90,91,93,94],[5,0,3,2]])
print("Original Array")
print(nums)

Original Array
[['C1' 'C2' 'C3' 'C4']
 ['0' '1' '3' '4']
 ['90' '91' '93' '94']
 ['5' '0' '3' '2']]

In [ ]:
#rows are reversed
print(nums[::-1])

[['5' '0' '3' '2']
 ['90' '91' '93' '94']
 ['0' '1' '3' '4']
 ['C1' 'C2' 'C3' 'C4']]

In [ ]:
#columns are reversed
print(nums[::,::-1])

[['C4' 'C3' 'C2' 'C1']
 ['4' '3' '1' '0']
 ['94' '93' '91' '90']
 ['2' '3' '0' '5']]

In [ ]:
#rows are reversed and their values are reversed
print(nums[::-1,::-1])

[['2' '3' '0' '5']
 ['94' '93' '91' '90']
 ['4' '3' '1' '0']
 ['C4' 'C3' 'C2' 'C1']]

In [ ]:
print("Original array")
print(nums)
print("swap the 1st column and 3rd column")
nums[:,[0,2]]=nums[:,[2,0]]
print(nums)

Original array
[['C1' 'C2' 'C3' 'C4']
 ['0' '1' '3' '4']
 ['90' '91' '93' '94']
 ['5' '0' '3' '2']]
swap the 1st column and 3rd column
[['C3' 'C2' 'C1' 'C4']
 ['3' '1' '0' '4']
 ['93' '91' '90' '94']
 ['3' '0' '5' '2']]

In [ ]:
print("Original array")
print(nums)
print("swap the 1st rows and 3rd rows")
nums[[0,2],::-1]=nums[[2,0],::-1]
print(nums)

Original array
[['C1' 'C2' 'C3' 'C4']
 ['0' '1' '3' '4']
 ['90' '91' '93' '94']
 ['5' '0' '3' '2']]
swap the 1st rows and 3rd rows
[['90' '91' '93' '94']
 ['0' '1' '3' '4']
 ['C1' 'C2' 'C3' 'C4']
 ['5' '0' '3' '2']]

In [ ]:
a=10
b=80
a,b=b,a
print(a)
print(b)

80
10